@model IEnumerable<StoryTeller.Theme>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Animal.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pirate.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Princesse.Text)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Animal.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pirate.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Princesse.Text)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ThemeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ThemeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ThemeID })
        </td>
    </tr>
}

</table>
