@model StoryTeller.Animal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnimalID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<form action="/Animals/Edit/1" method="post">

    <fieldset>
        <p>
            <label for="Title">Title:</label>
            <input id="Title" name="Title" type="text" value=@Html.DisplayNameFor(model => model.Text) />
        </p>
        <p>
            <label for="AnimalID">STORY:</label><br />
            "Prompt here"<br />
            @Html.DisplayFor(model => model.Text)
            <input id="storyContent" name="Content" type="text" value="Write your story" />
        </p>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>

</form>