@model IEnumerable<StoryTeller.Animal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AnimalID }) |
                @Html.ActionLink("Details", "Details", new { id = item.AnimalID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AnimalID })
            </td>
        </tr>
    }

</table>
<<<<<<< HEAD
=======

>>>>>>> bc3026cad0068beeffb2554957f3e9a71d474819
@{
    int counter = 0;
    foreach (var item in Model)
    {
        counter++;
<<<<<<< HEAD
        //counts the items in the list
    }
}
@if (counter == 9)
{
    <div> This is the final post, please wrap up the story!</div>
    //warns the user about the final post
}
=======
    }
}

>>>>>>> bc3026cad0068beeffb2554957f3e9a71d474819
@if (counter < 10)
{
    <p>
        @{ Html.RenderPartial("Create", new Animal()); }
<<<<<<< HEAD
        @* This takes away the text box and create button after the tenth post *@
    </p>
}
else
{
    @Html.ActionLink("New Story", "index", "Themes")
    //Replaces create area with themes action link
}
=======
    </p>
}
>>>>>>> bc3026cad0068beeffb2554957f3e9a71d474819
